*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: rgb(171, 189, 206);
}

.header-container{
    display: flex;
    background: skyblue;
    color: white;
    box-shadow: 4px 5px 4px #888888;
    height: 4rem;
}

.header-logo{
    align-self: center;
    margin-left: 10px;
}

.header-nav{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex: 1;
}
.header-nav-links{
    list-style: none;
    
}
.header-nav-link{
    display: inline-block;
    margin: 0px 7px;
}

.header-nav-link > a{
    color: white;
    text-decoration: none;
}

.header-nav-link > a:hover{
    color: rgba(148, 148, 148);
}

/* HAMBURGER MENU */
#menu{
    width: 35px;
    height: 30px;
    margin: 10px 5px 0px 0px;
    cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: slategray;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar2{
    /* transform: translateY(-4px); */
}
#bar3{
    transform: translateY(4px);
}
.change .bar{
    background-color: white;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}

.nav-toggle{
    display: none;
    /* transition: 0.3s ease; */
}

#nav{
    /* some style */
}
.nav{
    /* some style for hamburger nav container */
    display: grid;
    justify-content: center;
    height: 100%;
    background-color: skyblue;
    /* transition: 0.3s ease; */
}
.nav-link{
    list-style: none;
    margin-bottom: 20px;
}
.nav-link > a{
    text-decoration: none;
    color: white;
    
}
.nav-link > a:hover{
    font-weight: bold;
}

/* HAMBURGER MENU ENDING */
@media(min-width: 931px){
    .header-nav div{
        display: none;
    }
}

@media(max-width: 930px){
    .header-nav .header-nav-link{
        display: none;
    }
}
@media(max-width: 650px){
    .header-logo{
        font-size: 1.7rem;
    }
}

/* HEADER END */


.top-section-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0px 40px 0px; 
    color: rgb(100, 99, 99);
    height: 120px;
}
.top-section-header{
    text-align: center;
    width: 100%;
}
.top-section-description{
    text-align: justify;
}
@media(max-width: 960px){
    .top-section-description{
        width: 70%;
    }
}
@media(max-width: 800px){
    .top-section-description{
        width: 65%;
    }
}
    

/* TOP SECTION ENDING */

.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
}
.grid > article{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.grid > article:hover{
    transition: transform .1s ease-out;
    transform: translateY(5px);
}
.grid > article img{
    width: 100%;
}
.text{
    padding: 0 20px 20px;
}
.text > h3{
    text-transform: uppercase;
}
.text > button{
    background: linear-gradient(to right, #f030a7, #f03061,#F03061);
    border-radius: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-top: 10px;
}
@media(max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px){   
    .grid{
      grid-template-columns: repeat(1, 1fr);  
    }
    .grid > article{
        text-align: center;
    }   
}
/* GRID CARDS ENDING */